
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mt-5">
            <div class="card-header">
                <h1 class="bg-primary ">Credit Card Directive</h1>
            </div>
            <div class="card-body">
                <div class="form-group">
                <input type="text" #card="ngModel" [(ngModel)]="stdObj.firstName"  appCreditCard placeholder="XXXX XXXX XXXX XXXX" class="form-control" required>
                    @if (card.touched || card.dirty  && card.errors?.['required']) {
                        <strong class="text-danger"> Please Enter valid card details</strong>
                    }
           </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Btn</button>
            </div>
        </div>
    </div>
</div>
